.codeContainer {
    width: 100%;
}
.codeInfo {
    margin-top: 20px;
    margin-bottom: 20px;
    white-space: nowrap;
}

.codeLayout {
    padding-left: 100px;
}

.ico {
    width: 50px;
    height: 50px;
    transition: ease-in 0.2s;
}

.ico:hover {
    fill: var(--highlights);
}

a {
    text-decoration: none;
}

@media screen and (max-width: 410px) {
    .codeInfo {
        font-size: 0.7rem;
    }
    .codeLayout {
        padding-left: 20px;
    }

}
