.codeInfo {
    margin-top: 20px;
    margin-bottom: 20px;
    white-space: nowrap;

}

.codeLayout {
    padding-left: 130px;
}

.ico {
    fill: white;
    width: 50px;
    height: 50px;
    transition: ease-in 0.3s;
}

.ico:hover {
    fill: var(--highlights);
}

a {
    text-decoration: none;
}

@media screen and (max-width: 410px) {
    .codeInfo {
        font-size: 0.6rem;

    }
    .codeLayout {
        padding-left: 30px;
    }

}

/*!*background dot design*!*/
/*.background {*/
/*    margin-top: 3%;*/
/*    margin-left: 6%;*/
/*    outline: purple solid 1px;*/
/*    height: 70%;*/
/*    width: 30%;*/
/*    float: left;*/
/*    position: absolute;*/
/*    background-size: 100px 100px;*/
/*    background-image: radial-gradient(var(--bg-thirdly) 6px, transparent 0);*/
/*    background-position: center;*/
/*}*/