footer{
    height: 25vh;
    width: 100%;
    background: var(--bg-secondary);
    margin-top: 50px;
}

.footerContainer{
    padding-top: 20px;
    text-align: center;
}

.footerLinks{
    margin-top: 50px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footerLinks a{
    margin-right: 50px;
    margin-left: 50px;
    color: var(--text-secondary);
    text-decoration: none;
}

.footerLinks a:hover{
    color: var(--highlights);
}
.footerText{
    padding-top: 20px;
}
