.footerContainer{
    background: var(--bg-secondary);
    padding-top: 20px;
    text-align: center;
    height: 20vh;
    width: 100%;
    margin-top: 50px;
    color: var(--text-primary);
}

.footerLinks{
    margin-top: 30px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footerLinks a{
    margin-right: 50px;
    margin-left: 50px;
    color: var(--text-primary);
}

.footerLinks a:hover{
    color: var(--highlights);
}
.footerText{
    padding-top: 20px;
}
