#logo {
    z-index: 98;
    position: absolute;
    max-height: 80vh;
    max-width: 80vw;
    margin-left: 50%;
    transform: translateX(-50%);
}

.lucasmoes {
    color: #1c1c1c;
    z-index: 99;
    position: absolute;
    margin-top: 38vh;
    margin-left: 50%;
    transform: translateX(-50%);
    font-size: 3rem;
    max-font-size: 5rem;
    white-space: nowrap;

}

.softwareDeveloper {
    color: #1c1c1c;
    z-index: 99;
    position: absolute;
    margin-top: 45vh;
    margin-left: 50%;
    transform: translateX(-50%);
    font-size: 1.4rem;
    max-font-size: 2rem;
    text-align: center;
    white-space: nowrap;
}

.frontPage {
    width: 100%;
}

#mountainPicture {
    margin-left: 50%;
    transform: translateX(-50%);
    min-width: 100vw;
    height: 100vh;
    border-bottom-left-radius: 25px;
}

@media screen and (max-width: 410px) {
    .lucasmoes {
        font-size: 2rem;
        margin-top: 28vh;
    }

    .softwareDeveloper {
        font-size: 1rem;
        margin-top: 34vh;
    }
}


