#logo {
    z-index: 98;
    position: absolute;
    width: 40vw;
    height: 40vh;
    margin-left: 50%;
    transform: translateX(-50%);
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
    -ms-animation: fadeIn 3s;
}

.lucasmoes {
    color: #1c1c1c;
    z-index: 99;
    position: absolute;
    margin-top: 33vh;
    margin-left: 50%;
    transform: translateX(-50%);
    font-size: 3rem;
    max-font-size: 5rem;
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
    -ms-animation: fadeIn 3s;

}

.softwareDeveloper {
    color: #1c1c1c;
    z-index: 99;
    position: absolute;
    margin-top: 42vh;
    margin-left: 50%;
    transform: translateX(-50%);
    font-size: 1.4rem;
    max-font-size: 2rem;
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
    -ms-animation: fadeIn 3s;
}

.frontPage {
    width: 100%;
/*height: 100vh;*/
}

#mountainPicture {
    margin-left: 50%;
    transform: translateX(-50%);
    min-width: 100vw;
    height: 100vh;
    border-bottom-left-radius: 25px;
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
}

/*@media screen and (max-width: 948px) {*/
/*    .lucasmoes {*/
/*        font-size: 2rem;*/
/*        margin-top: 32vh;*/
/*    }*/

/*    .softwareDeveloper {*/
/*        font-size: 1rem;*/
/*        margin-top: 38vh;*/

/*    }*/
/*}*/

/*@media screen and (max-width: 632px) {*/
/*    .lucasmoes {*/
/*        font-size: 1.3rem;*/
/*        margin-top: 28vh;*/
/*    }*/

/*    .softwareDeveloper {*/
/*        font-size: 0.6rem;*/
/*        margin-top: 32vh;*/

/*    }*/
/*}*/

/*@media screen and (max-width: 390px) {*/
/*    .lucasmoes {*/
/*        font-size: 1.25rem;*/
/*        margin-top: 25vh;*/
/*    }*/

/*    .softwareDeveloper {*/
/*        font-size: 0.55rem;*/
/*        margin-top: 30vh;*/
/*    }*/
/*}*/


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}