
.frontPage {
    width: 100vw;
    height: 100vh;
    background-image: url("../../assets/img/mountainNew.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.title {
    position: relative;
    width: 100%;
    height: 100%;
}

#logo {
    z-index: 98;
    max-height: 60vh;
    max-width: 60vw;
    margin-left: 50%;
    transform: translateX(-50%);
    padding-top: 70px;

}

.lucasmoes {
    color: #1c1c1c;
    z-index: 99;
    font-size: 3rem;
    max-font-size: 5rem;
    white-space: nowrap;
    text-align: center;
    margin-top: -60px;

}

.softwareDeveloper {
    color: #1c1c1c;
    z-index: 99;
    font-size: 1.4rem;
    max-font-size: 2rem;
    text-align: center;
    white-space: nowrap;

    text-align: center;
    margin-top: -30px;
}



@media screen and (max-width: 410px) {
    .lucasmoes {
        font-size: 2rem;
    }

    .softwareDeveloper {
        font-size: 1rem;
    }
}


