
.frontPage {
    width: 100vw;
    height: 100vh;
    background-image: url("../img/mountain.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.title {
    position: relative;
    width: 100%;
    height: 100%;
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
}

#logo {
    z-index: 98;
    max-height: 40vh;
    max-width: 40vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 70px;
}

.lucasmoes {
    color: #1c1c1c;
    z-index: 99;
    font-size: 3rem;
    max-font-size: 5rem;
    white-space: nowrap;
    text-align: center;
    margin-top: -60px;
}

.softwareDeveloper {
    color: #1c1c1c;
    z-index: 99;
    font-size: 1.4rem;
    max-font-size: 2rem;
    text-align: center;
    white-space: nowrap;
    margin-top: -30px;
}



@media screen and (max-width: 410px) {
    .lucasmoes {
        font-size: 2rem;
    }

    .softwareDeveloper {
        font-size: 1rem;
    }
}


