.projectLists {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.projectContainer {
    margin: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background: var(--bg-secondary);
    border-radius: 20px;

}
.projectContainer p{
    font-size: 0.7rem;
}

.listIcons{
    width: 100%;
    height: 50px;
}

.listProjectRelationIcons {
    display: flex;
    float: right;
}

.projectRelationIcon {
    padding-left: 20px;
}


.projectLogos {
    width: 40px;
    height: 40px;
}
.technologyList {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 8px;
}

.tech {
    font-size: 0.6rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: var(--bg-primary);
    border: #00eeff 1px solid;
    border-radius: 30px;
    margin: 5px;
}