@import "navigation.css";
@import "scrollicon.css";
@import "frontPage.css";
@import "aboutPage.css";
@import "skillsPage.css";
@import "contactPage.css";
@import "footer.css";


/*!*general css*!*/

:root {
    font-size: 25px;
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Source Code Pro', monospace;
    --text-primary: #ffffff;
    /*--text-primary: #000000;*/
    --highlights: #00eeff;

    /*--bg-primary: #262626;*/
    --bg-primary: #0e1212;
    --bg-secondary: #1c1c1c;
    --bg-thirdly: #4d4d4d;
}
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    /*background: linear-gradient(to right top, var(--bg-primary), var(--bg-secondary));*/
    /*background: linear-gradient(to right top, #ffffff, #1f1f1f);*/
    background: var(--bg-primary);
    color: var(--text-primary);
    overflow-x: hidden;
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
}

h1 {
    color: var(--highlights);
    font-size: 1.7em;
}

h2, h3, h4, h5, h6 {
    color: var(--highlights);
    font-size: 1em;
}

.container {
    margin-left: auto;
    margin-right: auto;
    color: var(--text-primary);
    width: 70%;
    margin-top: 100px;
}

/*scroll bar*/
body::-webkit-scrollbar {
    width: 0.3rem;
}

body::-webkit-scrollbar-track {
    background: var(--bg-thirdly);
}

body::-webkit-scrollbar-thumb {
    background: var(--highlights);
    border-radius: 1rem;
}


@media screen and (max-width: 410px) {
    .container {
        width: 97%;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
