@import "navigation.css";
@import "scrollbar.css";
@import "scrollicon.css";
@import "frontPage.css";
@import "aboutPage.css";
@import "skillsPage.css";
@import "contactPage.css";
@import "footer.css";
@import "scrollMagic.css";
@import "lightdarkmode.css";
@import "projects.css";

/*!*general css*!*/

:root {
    font-size: 25px;
    font-family: 'Source Code Pro', monospace;
    --text-primary: #ffffff;
    --text-lightmode: #000000;

    --highlights: #00eeff;

    --bg-lighmode: #ffffff;

    --bg-primary: #0e1212;
    --bg-secondary: #1c1c1c;
    --bg-thirdly: #4d4d4d;
}
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background: var(--bg-primary);
    color: var(--text-primary);
    overflow-x: hidden;
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    text-decoration: none;
    transition: 1s;
}

h1 {
    color: var(--highlights);
    font-size: 1.7em;
}

h2, h3, h4, h5, h6 {
    color: var(--highlights);
    font-size: 1em;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-top: 100px;
}

.no-underline {
    text-decoration: none;
}


a{
    text-decoration: underline;
    color: var(--highlights);
}



@media screen and (max-width: 410px) {
    .container {
        width: 97%;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
