p {
    font-weight: 200;
}

h1 {
    color: var(--text-primary);
    font-size: 2.4em;
}

#timeline-content {
    margin-top: 50px;
    text-align: center;
}

.timelineContainer{
    border: 1px solid var(--highlights);
    border-radius: 10px;
    padding: 20px;
}

.timeline {
    border-left: 4px solid var(--highlights);
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background: rgba(255, 255, 255, 0.03);
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Chivo', sans-serif;
    margin: 50px auto;
    letter-spacing: 0.5px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding: 50px;
    list-style: none;
    text-align: left;
    font-weight: 100;
    max-width: 60%;
}

.timeline h1 {
    font-family: 'Saira', sans-serif;
    letter-spacing: 1.5px;
    font-weight: 100;
    font-size: 1.4em;
}

.timeline h2, .timeline h3 {
    font-family: 'Saira', sans-serif;
    letter-spacing: 1.5px;
    font-weight: 400;
    font-size: 1.4em;
}

.timeline .event {
    border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
    padding-bottom: 25px;
    margin-bottom: 50px;
    position: relative;
}

.timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline .event:before, .timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .event:before {
    left: -217.5px;
    color: rgba(255, 255, 255, 0.6);
    content: attr(data-date);
    text-align: right;
    font-weight: 100;
    font-size: 0.9em;
    min-width: 120px;
    font-family: 'Saira', sans-serif;
}


.miniDate {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 100;
    font-size: 0.9em;
}

.timeline .event:after {
    box-shadow: 0 0 0 4px var(--highlights);
    left: -57.85px;
    background: #313534;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    content: "";
    top: 5px;
}